.story {
  &__pictures {
    background-color: rgb(255, 136, 136);
    grid-column: full-start / col-end 4;
  }

  &__content {
    background-color: rgb(110, 36, 36);
    grid-column: col-end 4 / full-end;
  }

  &__text {
  }
}
