/* 수도 클래스 */
.btn {
  &,
  &:link,
  &:visited {
    background-color: #fff;
    padding: 1.8rem 6rem;
    border-radius: 100px;
    font-size: 1.6rem;
    text-decoration: none;
    color: $color-grey-dark;
    text-transform: uppercase;
  }

  &:hover {
    &::after {
    }
  }

  &:active,
  &:focus {
  }

  &--white {
    &::after {
    }
  }

  &--green {
    &::after {
    }
  }

  &::after {
  }

  &--animated {
  }
}

.btn-text {
  color: $color-primary;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.5rem 0;
  border-bottom: 1px solid $color-primary-dark;

  // &:link,
  // &:visited {
  // }

  // &:hover {
  // }

  // &:active {
  // }
}
